<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <style>
          table, th, td{
            border: 1px solid black
          }
        </style>
    </head>
    <body>



<div class='container mt-5'>

        <form class='col-6 mx-auto card p-2 shadow-lg' method='post' enctype='multipart/form-data'>
          {% csrf_token %}
        <h2><b>Update Recipe</b></h2>
        <hr>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
              <input type="text" value="{{recipe.recipe_name}}" name="recipe_name" required class="form-control" >
            
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Recipe description</label>
              <input type="text" value="{{recipe.recipe_procedure}}" name="recipe_procedure" required class="form-control">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
                <input type="file" value="{{recipe.recipe_image}}" name="recipe_image" class="form-control">
              </div>
           
            <button type="submit" class="btn btn-success">Update Recipe</button>
          </form>
          <hr>


</div> 



        <script src="" async defer></script>
    </body>
</html>